header nav {
    gap: 64px;
}

.links li a.selecionado {
    color: var(--terciario);
}

.links li a:hover {
    text-decoration: underline;
}

.perfil-container {
    position: relative;
}

.btn-perfil-container {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--color-claro);
    background-color: transparent;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: .2s ease;
}

.btn-perfil-container:hover {
    background-color: var(--primario);
}

.perfil-container #imagem-perfil {
    width: 55px;
    height: 55px;
    border-radius: 30px;
}

.perfil-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 1rem;
}

.perfil-links-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -112px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-claro);
    width: 120%;
    border-radius: 8px;
}

.perfil-links-container.aberto {
    display: flex;
}

.perfil-links-container .perfil-link {
    padding: 16px;
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.perfil-link:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.perfil-link:last-child {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.perfil-links-container a {
    color: var(--escuro);
}

.perfil-link:hover {
    background-color: #dddddd;
}

.perfil-links-container .perfil-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.perfil-button::before {
    content: url(../assets/images/icons/config.svg);
    width: 22px;
    height: 22px;
}

.perfil-links-container .sair-button {
    color: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sair-button::before {
    content: url(../assets/images/icons/sign-out.svg);
    width: 20px;
    height: 20px;
}



.main-animacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 80px;
    gap: 16px;
}

.main-animacoes .titulo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.titulo-container button {
    background-color: var(--color-claro);
    padding: 8px 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: .2s ease-in;
}

.titulo-container button:hover {
    background-color: #dddddd;
}

.titulo-container button img {
    width: 32px;
    height: 32px;
}

.titulo-container button span {
    font-size: 1.5rem;
}

#lista-animacoes {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

#lista-animacoes .animacao .animacao-container {
    height: max-content;
    background-color: transparent;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.animacao-container:hover {
    transform: scale(1.05);
}

.animacao-container:hover img {
    box-shadow: 0 0 8px 0 #000;
}

.animacao-container img {
    width: 312px;
    height: 468px;
    margin-bottom: 8px;
    object-fit: cover;
    border-radius: 8px;
}

.animacao-container h2 {
    font-size: 2rem;
    font-weight: 500;
}



.main-animacao {
    padding: 64px 256px;
}

.main-animacao a {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    font-size: 1.5rem;
    width: fit-content;
}

.main-animacao a:hover {
    text-decoration: underline;
}

.main-animacao a::before {
    content: url(../assets/images/icons/voltar.svg);
    width: 24px;
    height: 24px;
}

.main-animacao #animacao-container {
    display: flex;
    justify-content: space-between;
    gap: 96px;
    width: 100%;
    margin-bottom: 64px;
}

#animacao-container .animacao-info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titulo-container h1 {
    color: var(--escuro);
    font-size: var(--font-size-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    margin-bottom: 8px;
}

.titulo-container .detalhes {
    display: flex;
    align-items: center;
    gap: 32px;
    color: var(--color-escuro);
    font-size: 1.5rem;
}

.classificacao-indicativa, 
.img-classificacao-indicativa {
    width: 28px;
    height: 28px;
}

#generos-container {
    display: flex;
    gap: 24px;
    color: var(--color-escuro);
    font-size: 1.5rem;
}

.avaliacao-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nota-container {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.nota-container img {
    width: 32px;
    height: 32px;
}

.avaliacao-container .p-nota {
    font-size: 2rem;
    font-weight: 600;
}

.avaliacao-container .p-numero-avaliacoes {
    font-size: 1.5rem;
    color: var(--color-escuro);
}

.sinopse {
    color: var(--color-escuro);
    font-size: 1.75rem;
}

#animacao-container .imagem-animacao {
    width: 456px;
    height: 684px;
    border-radius: 8px;
}



#avaliacoes-container {
    display: flex;
    justify-content: space-between;
    gap: 128px;
}

#avaliacoes-container #grafico-avaliacoes {
    width: 500px;
    height: 500px;
}

.avaliacoes-container-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.avaliacoes-container-info button {
    background-color: var(--secundario);
    color: var(--color-claro);
    padding: 8px 16px;
    font-size: 1.5rem;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.avaliacoes-container-info button:hover{
    background-color: var(--primario);
    color: #ddd;
}

.avaliacoes-container-info .btn-cancelar {
    background-color: var(--color-meio-claro);
    color: var(--color-escuro);
}

.avaliacoes-container-info .btn-cancelar:hover {
    background-color: var(--color-meio-escuro);
}

.btn-avalie {
    display: none;
}

.btn-avalie.aberto {
    display: flex;
}

.avaliar {
    display: none;
    flex-direction: column;
    gap: 8px;
}

.avaliar.aberto {
    display: flex;
}

.notas-container {
    display: flex;
    gap: 8px;
}

.notas-container input {
    display: none;
}

.estrela {
    width: 36px;
    height: 36px;
}

.avaliar textarea {
    resize: none;
    width: 100%;
    background-color: var(--color-claro);
    font-size: 1.25rem;
    padding: 16px 12px 64px 12px;
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
    border: none;
}



#lista-comentarios {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#avaliacao-propria,
.li-avaliacao-container {
    display: flex;
    gap: 16px;
}

.imagem-perfil {
    width: 75px;
    height: 75px;
    border: 2px solid var(--color-claro);
    border-radius: 100px;
}

.li-avaliacao-container .comentario-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.avaliacao-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avaliacao-info .qtd-estrelas .img-estrela {
    width: 24px;
    height: 24px;
}

.avaliacao-info .data-avaliacao {
    color: var(--color-meio-escuro);
    font-size: 1.25rem;
}

.nome-usuario {
    color: var(--color-meio-escuro);
    font-size: 1.25rem;
}

.comentario {
    font-size: 1.5rem;
}



.main-estatistica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
}

.main-estatistica h1 {
    font-size: 3rem;
    margin-bottom: 16px;
}

.melhor-animacao-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 128px;
}

.melhor-animacao {
    display: flex;
    gap: 32px;
}

.melhor-animacao .img-melhor-animacao {
    width: 360px;
    height: 540px;
    border-radius: 8px;
}

.melhor-animacao-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.melhor-animacao-info h2 {
    font-size: 1.75rem;
}

.melhor-animacao-info h3 {
    margin-bottom: 4px;
    color: var(--color-escuro);
}

.melhor-animacao-info span {
    color: var(--escuro);
    font-weight: 600;
    font-size: 1.5rem;
}

.melhor-animacao-info .media-nota {
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.media-nota::before {
    content: '';
    background-image: url(../assets/images/icons/estrela.png);
    background-size: contain;
    width: 32px;
    height: 32px;
    display: inline-block;
}

#lista-generos {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.classificacao-indicativa-container .img-classificacao-indicativa {
    width: 48px;
    height: 48px;
}


.info-gerais-container {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.kpis-animacoes-geral {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.kpis-animacoes-geral .kpi-container {
    border: 1px solid var(--escuro);
    border-radius: 16px;
    padding: 8px 16px;
    background-color: var(--color-claro);
    width: 100%;
}

.kpi-container h2 {
    font-size: 1rem;
    color: var(--color-escuro);
}

.kpi-container .kpi {
    font-size: 1.75rem;
    color: var(--escuro);
    font-weight: 700;
}

.kpi.media-geral {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.kpi.media-geral::before {
    width: 28px;
    height: 28px;
}

.proporcao-avaliacoes-container {
    width: 330px;
    height: 330px;
}

.proporcao-avaliacoes-container h2 {
    font-size: 1.5rem;
    color: var(--escuro);
}



#main-perfil {
    display: flex;
    justify-content: center;
    gap: 32px;
}

#main-perfil .perfil-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}