header nav {
    gap: 64px;
}

.perfil-container {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--color-claro);
    position: relative;
}

.perfil-container #imagem-perfil {
    width: 55px;
    height: 55px;
    border-radius: 30px;
}

.perfil-info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.perfil-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: -112px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-claro);
    width: 120%;
    border-radius: 8px;
}

.perfil-links-container .perfil-link{
    padding: 8px;
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.perfil-link:first-child{
    padding-top: 16px;
}

.perfil-link:last-child {
    padding-bottom: 16px;
    border-bottom: none;
}

.perfil-links-container a {
    color: var(--escuro);
}

.perfil-links-container .sair-button {
    color: red;
    background-color: transparent;
}