header nav {
    gap: 64px;
}

.perfil-container {
    position: relative;
}

.btn-perfil-container {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--color-claro);
    background-color: transparent;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: .2s ease;
}

.btn-perfil-container:hover {
    background-color: var(--primario);
}

.perfil-container #imagem-perfil {
    width: 55px;
    height: 55px;
    border-radius: 30px;
}

.perfil-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 1rem;
}

.perfil-links-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -112px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-claro);
    width: 120%;
    border-radius: 8px;
}

.perfil-links-container.aberto {
    display: flex;
}

.perfil-links-container .perfil-link {
    padding: 16px;
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.perfil-link:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.perfil-link:last-child {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.perfil-links-container a {
    color: var(--escuro);
}

.perfil-link:hover {
    background-color: #dddddd;
}

.perfil-links-container .perfil-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.perfil-button::before {
    content: url(../assets/images/icons/config.svg);
    width: 22px;
    height: 22px;
}

.perfil-links-container .sair-button {
    color: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sair-button::before {
    content: url(../assets/images/icons/sign-out.svg);
    width: 20px;
    height: 20px;
}



.main-animacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 80px;
    gap: 16px;
}

.main-animacoes .titulo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.titulo-container button {
    background-color: var(--color-claro);
    padding: 8px 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: .2s ease-in;
}

.titulo-container button:hover {
    background-color: #dddddd;
}

.titulo-container button img {
    width: 32px;
    height: 32px;
}

.titulo-container button span {
    font-size: 1.5rem;
}

#lista-animacoes {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

#lista-animacoes .animacao .animacao-container {
    height: max-content;
    background-color: transparent;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.animacao-container:hover {
    transform: scale(1.05);
}

.animacao-container:hover img {
    box-shadow: 0 0 8px 0 #000;
}

.animacao-container img {
    width: 312px;
    height: 468px;
    margin-bottom: 8px;
    object-fit: cover;
    border-radius: 8px;
}

.animacao-container h2 {
    font-size: 2rem;
    font-weight: 500;
}



.main-animacao {
    padding: 64px 256px;
}

.main-animacao a {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    font-size: 1.5rem;
    width: fit-content;
}

.main-animacao a:hover {
    text-decoration: underline;
}

.main-animacao a::before {
    content: url(../assets/images/icons/voltar.svg);
    width: 24px;
    height: 24px;
}

.main-animacao #animacao-container {
    display: flex;
    justify-content: space-between;
    gap: 96px;
    width: 100%;
}

#animacao-container .animacao-info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.animacao-info-container .titulo-container h1 {
    color: var(--escuro);
    font-size: var(--font-size-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    margin-bottom: 8px;
}

.animacao-info-container .titulo-container .detalhes {
    display: flex;
    align-items: center;
    gap: 32px;
    color: var(--color-escuro);
    font-size: 1.5rem;
}

.classificacao-indicativa, 
.img-classificacao-indicativa {
    width: 28px;
    height: 28px;
}

#generos-container {
    display: flex;
    gap: 24px;
    color: var(--color-escuro);
    font-size: 1.5rem;
}

.avaliacao-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nota-container {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.nota-container img {
    width: 32px;
    height: 32px;
}

.avaliacao-container .p-nota {
    font-size: 2rem;
    font-weight: 600;
}

.avaliacao-container .p-numero-avaliacoes {
    font-size: 1.5rem;
    color: var(--color-escuro);
}

.sinopse {
    color: var(--color-escuro);
    font-size: 1.75rem;
}

#animacao-container .imagem-animacao {
    width: 456px;
    height: 684px;
}