:root {
    --primario: #27418C;
    --secundario: #2D61A6;
    --terciario: #73A9D9;
    --contraste: #F25C93;
    --escuro: #110E26;
    --color-claro: #eee;
    --color-meio-claro: #ccc;
    --color-meio-escuro: #999;
    --color-escuro: #555;
    --font-size-titulo-secao: 3rem;
    --font-weight-titulo-secao: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

#definicao,
#tipos,
#licoes,
#sobre {
    scroll-margin-top: 112px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--escuro);   
    padding: 16px 96px;
    position: sticky;
    top: 0;
}

header img {
    width: 260px;
    height: 80px;
}

header nav {
    display: flex;
    gap: 80px;
    align-items: center;
}

header nav a {
    color: #fff;
    font-size: 1.5rem;
}

.links {
    display: flex;
    gap: 36px;
}

.header-cta {
    display: flex;
    gap: 32px;
    align-items: center;
}

.cta-button {
    background-color: var(--contraste);
    color: #fff;
    border-radius: 12px;
}

.header-cta .cta-button{
    padding: 10px 16px;
}



.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/animacoes.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding-bottom: 128px;
    height: 800px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1090px;
}

.hero-info h1 {
    color: #fff;
    font-size: 6rem;
    line-height: 90%;
}

.hero-info p {
    color: var(--color-meio-claro);
    font-size: 2rem;
}

.hero-cta {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-cta .cta-button {
    font-size: 2rem;
    padding: 16px 32px;
}

.hero-cta a {
    color: var(--color-meio-claro);
    font-size: 1.25rem;
}



h2 {
    font-size: var(--font-size-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
}

#definicao {
    padding: 128px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.definicao-info {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 670px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-container .p-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-container p {
    color: var(--color-escuro);
    font-size: 1.5rem;
}

.definicao-cta {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.definicao-cta p {
    font-size: 1.25rem;
    color: #666666;
}

.definicao-cta .definicao-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
}

.fps-buttons {
    display: flex;
    justify-content: space-between;
}

.fps-buttons button {
    background-color: var(--primario);
    color: #fff;
    padding: 12px 32px;
    border-radius: 12px;
    box-shadow: 0 8px #1D3373;
    font-size: 1.5rem;
}

.definicao-buttons .cta-button {
    padding: 12px 32px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: fit-content;
}

.definicao-buttons .cta-button::before {
    content: '';
    background-image: url(../assets/images/icons/start-icon.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
}

#definicao img {
    height: stretch;
    width: 470px;
    object-fit: cover;
}



#tipos {
    background-color: var(--color-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    gap: 32px;
}

.tipos-animacoes {
    display: flex;
    gap: 64px;
}

.tipos-animacoes li {
    width: min-content;
}

.tipos-animacoes li img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 8px;
}

.tipo-info {
    width: fit-content;
}

.tipo-info h3 {
    font-size: 2.5rem;
    font-weight: var(--font-weight-titulo-secao);
    text-align: center;
    margin-bottom: 4px;
}

.tipo-info p {
    width: fit-content;
    font-size: 1.5rem;
    color: var(--color-escuro);
}



#licoes {
    background-color: var(--escuro);
    color: #fff;
    padding: 64px 0 128px 0;
}

#licoes .licoes-info {
    margin-bottom: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.licoes-info p {
    color: var(--color-meio-claro);
    width: 1064px;
    font-size: 1.5rem;
}

.citacoes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.citacoes li {
    display: flex;
    align-items: center;
    width: 1208px;
    justify-content: space-between;
}

.citacoes li.reverso {
    flex-direction: row-reverse;
}

.citacoes .citacao-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.5rem;
    width: 780px;
}

.credito {
    color: var(--color-meio-claro);
}

.citacoes li img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}



.cta {
    background-color:  var(--terciario);
    padding: 64px 128px;
    display: flex;
    justify-content: space-between;
}

.cta-container p {
    color: #333;
    font-size: 32px;
    font-weight: var(--font-weight-titulo-secao);
}

.cta .cta-button {
    padding: 24px 128px;
    background-color: var(--contraste);
    font-size: 2rem;
    border-radius: 24px;
}



#sobre {
    background-color: var(--secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    padding: 64px 0;
    color: #fff;
}

#sobre img {
    width: 370px;
    height: 500px;
    border-radius: 8px;
}

#sobre .sobre-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 950px;
}

.sobre-info p {
    font-size: 2rem;
    color: var(--color-claro);
}



footer {
    padding: 32px 64px;
    background-color: var(--primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 260px;
    height: 80px;
}

footer p {
    height: stretch;
    display: flex;
    align-items: flex-end;
    color: var(--color-meio-claro);
}

footer .contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 16px;
}

.contatos h2 {
    font-size: 2rem;
}

.contatos-container .redes-sociais {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.redes-sociais img {
    width: 50px;
    height: 50px;
}

.email-container {
    font-size: 1.5rem;
}

.email-container h4 {
    font-weight: var(--font-weight-titulo-secao);
}

.email-container p {
    color: var(--color-claro);
}