:root {
    --primario: #27418C;
    --secundario: #2D61A6;
    --terciario: #73A9D9;
    --contraste: #F25C93;
    --escuro: #110E26;
    --color-claro: #eee;
    --color-meio-claro: #ccc;
    --color-meio-escuro: #999;
    --color-escuro: #555;
    --font-size-titulo-secao: 3rem;
    --font-weight-titulo-secao: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

#definicao,
#tipos,
#licoes,
#sobre {
    scroll-margin-top: 112px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--escuro);   
    padding: 16px 96px;
    position: sticky;
    top: 0;
}

header img {
    width: 260px;
    height: 80px;
}

header nav {
    display: flex;
    gap: 80px;
    align-items: center;
}

header nav a {
    color: #fff;
    font-size: 1.5rem;
}

.links {
    display: flex;
    gap: 36px;
}

.header-cta {
    display: flex;
    gap: 32px;
    align-items: center;
}

.cta-button {
    background-color: var(--contraste);
    color: #fff;
    border-radius: 12px;
}

.header-cta .cta-button{
    padding: 10px 16px;
}



.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/animacoes.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding-bottom: 128px;
    height: 800px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1090px;
}

.hero-info h1 {
    color: #fff;
    font-size: 6rem;
    line-height: 90%;
}

.hero-info p {
    color: var(--color-meio-claro);
    font-size: 2rem;
}

.hero-cta {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-cta .cta-button {
    font-size: 2rem;
    padding: 16px 32px;
}

.hero-cta a {
    color: var(--color-meio-claro);
    font-size: 1.25rem;
}



h2 {
    font-size: var(--font-size-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
}

#definicao {
    padding: 128px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.definicao-info {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 670px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-container .p-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-container p {
    color: var(--color-escuro);
    font-size: 1.5rem;
}

.definicao-cta {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.definicao-cta p {
    font-size: 1.25rem;
    color: #666666;
}

.definicao-cta .definicao-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
}

.fps-buttons {
    display: flex;
    justify-content: space-between;
}

.fps-buttons button {
    background-color: var(--primario);
    color: #fff;
    padding: 12px 32px;
    border-radius: 12px;
    box-shadow: 0 8px #1D3373;
    font-size: 1.5rem;
}

.definicao-buttons .cta-button {
    padding: 12px 32px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: fit-content;
}

.definicao-buttons .cta-button::before {
    content: '';
    background-image: url(../assets/images/icons/start-icon.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
}

#definicao img {
    height: stretch;
    width: 470px;
    object-fit: cover;
}